#lightBulb{
    /* background-color: rgb(61, 56, 56); */
    width: fit-content;
    padding: 1em;
}

.on {
    background-color: lightgrey;
}

.off {
    background-color: rgb(61, 56, 56);
}

#coinBox {
    display: flex;
    flex-wrap: wrap;
    background-color: teal;
    height: 60vh;
    width: 100vw;
    padding: 10px;
}

#vendingMachine{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

#moneyForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lightBulbDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}